body{
    margin: 0px;
    padding: 0px;
    background-color: grey;
}
.logo{
    padding: 20px;
}
.header{
    display: grid;
    grid-template-columns: 5% 80% 15%;
    background-color: black;
    color: whitesmoke;
}
.headerIzquierda{
    display: grid;
    grid-template-columns: 10% 90%;
}
.barraDeNavegacion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    padding: 20px 0px 20px 0px;
}
a{
    color: white;
    text-decoration: none;
}
.headerDerecha{
    padding-top: 20px;
    padding-bottom: 20px;
}
.contenido{
    display: grid;
    grid-template-columns: 40% 60%;
}
.info{
    margin-left: 20px;
}
.titulo{
    color: black;
    text-align: center;
}
.subtitulo{
    color: black;
    text-align: center;
}
.productor{
    color: black;
}
.idiomas{
    color: black;
}
.Estreno{
    color: black;
}
.ultimoEpisodio{
    color: black;
}
.proximoEpisodio{
    color: black;
}
.origen{
    color: black;
}
.reproducciones{
    color: black;
}
.disponible{
    color: black;
}
.genero{
    color: black;
}
.linkGeneros{
    color: black;
}
.elenco{
    color: black;
}
.resumen{
    color: black;
}
.puntuacion{
    color: black;
}
.acciones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    color: black;
    text-decoration: none;
}
iframe{
    text-align: center;
    align-items: center;
    width: 100%;
    display: none;
}
.separacion{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.primeraParte{
    display: grid;
}
.teleretro{
    width: 200px;
}
.temp-ep{
    display: flex;
}
li{
    color: black;
}
.selecionarTemporada{
    display: flex;
}
.temporadasYseries{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    color: black;
}
.capitulo{
    display: flex;
}
.tituloReviews{
    color: white;
}
/*.textoReviews{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
}*/
/*.autor{
    color: black;
    text-align: center;
}
.contenido{
    color: black;
    text-align: justify;
}*/
h2{
    color: black;
}
.seriesRelacionadas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
    color: black;
}
footer{
    display: grid;
    grid-template-rows: 2;
    background-color: black;
    color: whitesmoke;
}
.tmdb{
    text-align: center;
    align-items: center;
    width: 80px;
    height: 80px;
}
.nombres{
    display: flex;
    justify-content: space-between;
}
.contacto{
    text-align: center;
    color: whitesmoke;
}
.redesSociales{
    text-align: center;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
p{
    text-align: justify;
    color: black;
}
.peliculasRelacionadas{
    color: whitesmoke;
    text-align: center;
}
/*Media Querry Tablet*/
@media(max-width:768px){
    .trailer{
        display: none;
    }
}
/*Media Querry Telefono*/
@media(max-width:426px){
    .temp-ep{
        display: grid;
    }
    .acciones{
        grid-template-columns: 1fr 1fr;
    }
    .temporadasYseries{
        grid-template-columns: 1fr 1fr;
    }
    .seriesRelacionadas{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .titulo{
        font-size: 28px;
    }
    .trailer{
        display: none;
    }
    p{
        font-size: 18px;
    }
}