.body{
    background-color: grey;
    margin: 0px;
    padding: 0px;
}
.logo{
    padding: 20px;
}
.header{
    display: grid;
    grid-template-columns: 5% 80% 15%;
    background-color: black;
    color: whitesmoke;
}
.headerIzquierda{
    display: grid;
    grid-template-columns: 10% 90%;
}
.barraDeNavegacion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 20px 0px 20px 0px;
}
.a{
    color: white;
    text-decoration: none;
}
.contacto{
    color: white;
    text-decoration: none;
}
.headerDerecha{
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer{
    display: grid;
    grid-template-rows: 2;
    background-color: black;
    color: whitesmoke;
}
.nombres{
    display: flex;
    justify-content: space-between;
}
.contacto{
    text-align: center;
    color: whitesmoke;
}
.redesSociales{
    text-align: center;
}
.tmdb{
    text-align: center;
    align-items: center;
    width: 80px;
    height: 80px;
}
.container{
    display: grid;
    grid-template-columns: 40% 60%;

}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.titulo{
    text-decoration: underline; 
    font-size: 40px;
    text-align: center;
}
.subtitulo{
    text-decoration: underline; 
    font-size: 34px;
    text-align: center;
}
.info{
    display: grid;
    grid-template-rows: auto;
    margin-left: 20px;
}
.separacion{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.info2{
    font-size: 23px;
    color: black;
}
.anio{
    font-size: 23px;
    color: black;
}
.genero{
    font-size: 23px;
    color: black;
    padding: 10px;
}
.linkGeneros{
    text-decoration: none;
    color: black;
}
.puntuacion{
    font-size: 23px;
    color: black;
}
.vistos{
    font-size: 23px;
    color: black;
}
.idiomas{
    font-size: 23px;
    color: black;
    padding: 10px;
}
.duracion{
    font-size: 23px;
    color: black;
}
.config{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    color: black;
    text-decoration: none;
}
.extra{
    /*display: flex;
    justify-content: center;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.imgextra{
    /*width: 450px;
    height: 250px;
    padding: 10px;
    object-fit: cover;*/
    width: 100%;
}
.Resumen{
    font-size: 20px;
    color: black;
}
iframe{
    width: 100%;
}
.trailer{
    text-align: center;
}
.tituloReviews{
    color: whitesmoke;
}
.content{
    color: black;
}
p{
    color: black;
}
.nombre{
    color: white;
}
.peliculasRelacionadas{
    text-align: center;
}
@media(max-width:768px){
    .container{
        display: grid;
        grid-template-columns: 60% 40%;
    }
    .extra{
        display: none;
    }
    .config{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width: 426px){
    .container{
        display: grid;
        grid-template-columns: 50% 50%;

    }
    .config{
        display: grid;
        grid-template-columns: 1fr;
    }
    .separacion{
        display: grid;
        grid-template-columns: 1fr;
    }
    .trailer{
        display: none;
    }
    .titulo{
        font-size: 28px;
    }
    .subtitulo{
        font-size: 26px;
    }
    .anio{
        font-size: 18px;
    }
    .genero{
        font-size: 18px;
    }
    .puntuacion{
        font-size: 18px;
    }
    .vistos{
        font-size: 18px;
    }
    .idiomas{
        font-size: 18px;
    }
    .duracion{
        font-size: 18px;
    }

}