body{
    margin: 0px;
    padding: 0px;
    background-color: grey;
}
.logo{
    padding: 20px;
}
.header{
    display: grid;
    grid-template-columns: 5% 80% 15%;
    background-color: black;
    color: whitesmoke;
}
.headerIzquierda{
    display: grid;
    grid-template-columns: 10% 90%;
}
.barraDeNavegacion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    padding: 20px 0px 20px 0px;
}
a{
    color: white;
    text-decoration: none;
}
h2{
    color: black;
    text-align: center;
}
.headerDerecha{
    padding-top: 20px;
    padding-bottom: 20px;
}
footer{
    display: grid;
    grid-template-rows: 2;
    background-color: black;
    color: whitesmoke;
}
.nombres{
    display: flex;
    justify-content: space-between;
}
.contacto{
    text-align: center;
    color: whitesmoke;
}
.redesSociales{
    text-align: center;
}
.tmdb{
    text-align: center;
    align-items: center;
    width: 80px;
    height: 80px;
}
.genero{
    display: flex;
    justify-content: center;
    height: 100px;
}
