body{
    margin: 0px;
    padding: 0px;
    background-color: grey;
}
.logo{
    padding: 20px;
}
.header{
    display: grid;
    grid-template-columns: 5% 80% 15%;
    background-color: black;
    color: whitesmoke;
}
.headerIzquierda{
    display: grid;
    grid-template-columns: 10% 90%;
}
.barraDeNavegacion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    padding: 20px 0px 20px 0px;
}
a{
    color: white;
    text-decoration: none;
}
.headerDerecha{
    padding-top: 20px;
    padding-bottom: 20px;
}
.continuarViendo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
    color: antiquewhite;
}
.contenidoParaTablet{
    display: none;
}
.imagen{
    width: 100%;
    height: 100%;
}
.peliculasFavoritas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
    color: antiquewhite;
}
.seriesFavoritas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
    color: antiquewhite;
}
.descargas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
    color: antiquewhite;
}

footer{
    display: grid;
    grid-template-rows: 2;
    background-color: black;
    color: whitesmoke;
}
.nombres{
    display: flex;
    justify-content: space-between;
}
.contacto{
    text-align: center;
    color: whitesmoke;
}
.redesSociales{
    text-align: center;
}
.tmdb{
    text-align: center;
    align-items: center;
    width: 80px;
    height: 80px;
}
/*Media Querry Tablet*/
@media(max-width: 768px){
    .header{
        display: grid;
        grid-template-rows: 2;
        grid-template-columns: none;
    }
    .logo{
        text-align: center;
    }
    .barraDeNavegacion{
        display: grid;
        grid-template-rows: 2;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px;
        row-gap: 20px;
    }
    .continuarViendo{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .peliculasFavoritas{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .seriesFavoritas{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .descargas{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
/* Media Querry Celular */
@media(max-width: 425px){
    .continuarViendo{
        grid-template-columns: 1fr 1fr;
    }
    .peliculasFavoritas{
        grid-template-columns: 1fr 1fr;
    }
    .seriesFavoritas{
        grid-template-columns: 1fr 1fr;
    }
    .descargas{
        grid-template-columns: 1fr 1f;
    }
}