body{
    background-color: grey;
    margin: 0px;
    padding: 0px;
}
.logo{
    padding: 20px;
}
.header{
    display: grid;
    grid-template-columns: 5% 80% 15%;
    background-color: black;
    color: whitesmoke;
}
.headerIzquierda{
    display: grid;
    grid-template-columns: 10% 90%;
}
.barraDeNavegacion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    padding: 20px 0px 20px 0px;
}
.a{
    color: white;
    text-decoration: none;
}
.headerDerecha{
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer{
    display: grid;
    grid-template-rows: 2;
    background-color: black;
    color: whitesmoke;
}
.nombres{
    display: flex;
    justify-content: space-between;
}
.contacto{
    text-align: center;
    color: whitesmoke;
}
.redesSociales{
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: 15% 85%;

}
.img{
    width: 280px;
    padding: 10px;
    object-fit: cover;
}
.titulo{
    text-decoration: underline; 
    font-size: 40px;
}
.info{
    display: grid;
    grid-template-rows: auto;
}
.info2{
    font-size: 23px;
    color: black;
}
.duracion{
    font-size: 12px;
    color: black;
}
.config{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;

}
.extra{
    display: grid;
    grid-template-columns: 1fr ;
    padding: 20px 0px 20px 0px;
    margin-left: 280px;
}
.imgextra{
    width: 450px;
    height: 250px;
    padding: 10px;
    object-fit: cover;
}
.p{
    font-size: 20px;
    color: black;
}